.searchBar {
    float: right;
    padding: 6px;
    font-size: 17px;

    align-self: center;
  }
  
  input[type=text] {
    width: 33%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;


  }

  .gridItemSearch {
    align-items: center;
  }